<?xml version="1.0" encoding="UTF-8"?>                                                                 
<configuration>                                                                                        
  <system.webServer>                                                                                   
    <defaultDocument>                                                                                  
      <files>                                                                                          
        <remove value="default.asp" />                                                                 
        <remove value="default.aspx" />                                                                
        <add value="index.html" />                                                                     
      </files>                                                                                         
    </defaultDocument>                                                                                 
                                                                                                       
    <directoryBrowse enabled="true" /> 
    <!-- module requis IIS pour rewrite -->                                                                
    <rewrite>                                                                                          
      <rules>                                                                                          
        <rule name="Angular Rewriting Rules" stopProcessing="true">                                    
          <match url=".*" />                                                                           
          <conditions logicalGrouping="MatchAll">                                                      
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />                        
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />                   
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />                              
          </conditions>                                                                                
          <action type="Rewrite" url="./index.html" />                                                 
        </rule>                                                                                        
                                                                                                       
      </rules>                                                                                         
    </rewrite>                                                                                         
  </system.webServer>                                                                                  
</configuration>                                                                                       